body {
  margin: 0;
  font-family: 'Vollkorn', Palatino, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.light-mode {
  background-color: #ae945f25;
  color: #333;
  transition: background-color 0.5s ease-out;
}

.dark-mode {
  background-color: #241b2f;
  color: #ae945f;
  transition: background-color 0.5s ease-out;
}
.dark-mode nav {
  background-color: #262335;
  transition: background-color 0.5s ease-out;
}
.dark-mode footer {
  background-color: #262335;
  transition: background-color 0.5s ease-out;
}
.dark-mode input[type='text'] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
}

.light-mode input[type='text'] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: white;
  border: 2px solid black;
  color: #333;
  border: 0;
}

nav {
  width: 100%;
  display: flex;
  background-color: #9c27b0;
  padding: 20px;
}

main {
  padding: 0 1rem;
  margin: 2rem auto;
  max-width: 560px;
  height: 90vh;
}

h1 {
  margin: 0;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type='checkbox'].checkbox:checked + label {
  left: 30px;
}

input[type='checkbox'].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type='checkbox'].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #72f1b8;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  line-height: 1.2;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  margin: 5px 0;
  font-size: 2rem;
}
li:hover {
  opacity: 0.3;
  text-decoration: line-through;
}
